@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="d-grid gap-2 space-above">
        <a asp-controller="RegOfCarRentals" asp-action="Create" class="btn btn-lg btn-primary" type="button">Rent a car</a>
        <a asp-controller="RegOfCarReturns" asp-action="Create" class="btn btn-lg btn-primary" type="button">Return a car</a>
    </div>
</div>
